TransactionId=$transId
Vcid=$vcid
Apid=$apid
Scid=$scid
SequenceId=$seqId
SequenceVersion=$seqVersion
CommandNumber=$commandNumber
Sclk=$sclk
Scet=$scet
#if($lst)
Lst=$lst
#end
Ert=$ert
DvtCoarse=$dvtCoarse
DvtFine=$dvtFine
TotalParts=$totalParts
PartNumber=$partNumber
SourcePacketSequenceCount=$seq
PartLength=$partLength
PartOffset=$partOffset
RelayScid=$relay
CfdpTransactionId=$transactionId
