#if ($body)
-------
Evr
-------
SessionId=$sessionId
SessionHost=$sessionHost
#if ($name)
Name=$name
#end
#if ($module)
Module=$module
#end
#if ($level)
Level=$level
#end
#if ($event)
EventID=$event
#end
FromSSE=$fromSse
#if ($nullTool.isNotNull($realTime))
Realtime=$realTime
#end
#if ($sclk)
SCLK=$sclk
#end
#if ($scet)
SCET=$scet
#end
#if ($lst)
LST=$lst
#end
#if ($ert)
ERT=$ert
#end
#if ($rct)
RCT=$rct
#end
#if ($message)
Message=$message
#end
#set ($index = 0) 
#foreach ($key in $metadataKeys)
#set ($val = $metadataVals.get($index))      
Metadata_$key=$val
#set ($index = $index + 1)
#end
#if ($vcid)
VCID=$vcid
#end
#if ($dssId >= 0)
DssId=$dssId
#end
#end
