"EHA","$missionId",#if($sessionId)"$sessionId"#else""#end,#if($sessionHost)"$sessionHost"#else""#end,#if($channelId)"$channelId"#else""#end,#if($title)"$title"#else""#end,#if($module)"$module"#else""#end,"$sclk","$ert","$scet",#if($valType)"$valType"#else""#end,"$dataNumber",#if($dnUnits)"$dnUnits"#else""#end,#if($eu)"$eu"#else""#end,#if($euUnits)"$euUnits"#else""#end,"$inAlarm"#foreach($alarm in $alarms),"$alarm.getType().toString()","$alarm.getLevel()",#if($realTime)#set($rt="Realtime")#else#set($rt="Recorded")#end"$rt"#end
