EHA MissionId=$missionId ChannelId=$channelId #if($title != "")ChannelName=$title #end #if($module != "")Module=$module #end DN=$dataNumber #if($eu)EU=$eu #end SCLK=$sclk SCET=$scet ERT=$ert InAlarm=$inAlarm #foreach($alarm in $alarms)ALARM,$alarm.getType().toString(),$alarm.getState(),$alarm.getLevel(),#if($realTime)#set($rt="Realtime")#else#set($rt="Recorded")#end$rt,$alarm.isOnEu()#end
