<ChannelAlarmNotification>
   <MissionId>$missionId</MissionId>
   <MissionName>$missionName</MissionName>
   <SpacecraftId>$spacecraftId</SpacecraftId>
   <SpacecraftName>$spacecraftName</SpacecraftName>
   <SessionId>$sessionId)</SessionId>
   <SessionHost>$sessionHost</SessionHost>
   <EhaChannelMessage eventTime="$eventTime">
      <EhaChannel id="$channelId"#if($title != '') title="$title"#end>
         <channelDef index="$index" type="$channelType"#if($module != '') module="$module"#end#if($dnUnits != '') dnUnits="$dnUnits"#end#if($euUnits != '') euUnits="$euUnits"#end/>
#if ($isArray)
         <arrayLength>$arrayLength</arrayLength>
         <componentLength>$compBitLength</componentLength>
#end  
         <sclk>$sclk</sclk>
         <ert>$ert</ert>
         <scet>$scet</scet>      
         <dn><![CDATA[$dataNumber]]></dn>
#if ($eu)
         <eu>$eu</eu>
#end
#if ($status)
         <statusValue>$status</statusValue>
#end  
         <inAlarm>$inAlarm</inAlarm>
#if($alarms)
#foreach($alarm in $alarms)
         <alarmValue type="$alarm.getType().toString()" state="$alarm.getState()" level="$alarm.getLevel()" isRealtime="$realTime" onEu="$alarm.isOnEu()"/>
#end
#end
      </EhaChannel>
   </EhaChannelMessage>
</ChannelAlarmNotification>
