#set ( $shellName = "sh" )
#shell( $shellName )

#init()

#Java()

#set ( $headless = "true" )
#SWT( $headless )

#set( $tpsLibraries   =   ["piccolo", "commons_cli", "commons_lang", "commons_lang3", "commons_collections", "commons_logging", "woodstox", "mysql", "disruptor", "velocity_engine_core", "jersey2", "jaxrs", "jackson", "icmd", "jaxb", "shared", "commons_io", "jakarta.ws.rs_api" ] )
#constructClasspath( $tpsLibraries )
#addCssClasspath()
#addSpringClasspath()
#constructLog4j2Classpath()
#addCtsClasspath()

#set ( $appName = "chill_cmd_directive" )
#set ( $appClass = "jpl.gds.tcapp.icmd.app.CommandDirectiveApp" )
#set ( $appArgs = "" )
## Set headless to false
#set ( $headless = "false" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "128m" )
#set ( $maxMem = "512m" )
#set ( $responderHelper = "" )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJava ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
