#set ( $shellName = "sh" )
#shell( $shellName )

#init()

#Java()

#set( $tpsLibraries   =   ["piccolo","commons_cli","commons_lang", "commons_lang3","commons_collections","commons_logging","woodstox","mysql","velocity_engine_core","shared","javax.json" ] )
#constructClasspath( $tpsLibraries )
#addSpringClasspath()
#constructLog4j2Classpath()

#set ( $appName = "chill_time_cor" )
#set ( $appClass = "jpl.gds.db.app.TimeCorrelationApp" )
#set ( $appArgs = "" )
#set ( $headless = "true" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "128m" )
#set ( $maxMem = "512m" )
#set ( $responderHelper = "" )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJava ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
