#foreach($correlation in $correlations)  
SSE TIME CORRELATION SSE SCLK=$packetSclk SSE ERT=$packetErt Correlated SCLK=$correlation.getOne().toString() Correlated ERT=$correlation.getTwo().getFormattedErt(true)
#end
