#set ( $shellName = "sh" )
#shell( $shellName )

#init()

#Java()

#set( $tpsLibraries  =  ["xml_commons", "disruptor", "piccolo","commons_cli","commons_lang", "commons_lang3","commons_collections","commons_logging","stax_api","woodstox","mysql","velocity_engine_core","jing","shared"] )
#constructClasspath( $tpsLibraries )
#addSpringClasspath()
#addJmsClasspath()
#verifyMessagingService()
#constructLog4j2Classpath()

#set ( $appName = "chill_evr_watcher" )
#set ( $appClass = "jpl.gds.watcher.responder.app.MessageResponderApp" )
#set ( $headless = "false" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "128m" )
#set ( $maxMem = "512m" )
#set ( $responderHelper = "jpl.gds.watcher.responder.app.EvrWatcherApp"  )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJava ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
