Servers
core/*super-pom.xml
.recommenders
**/.accurev/
**/.metadata
**/.DS_Store
**/build/
**/target/
**/dist/
**/tar/
velocity.log*
**/.project
**/.settings/
**/.classpath
**/.pydevproject
**/.accurev*
generated*
**/*versionBackup_*
pom_version_suffix
/bin/
*/.project
