#if ($body)
-------
Product
-------
SessionId=$sessionId
SessionHost=$sessionHost
#if($vcid)
VCID=$vcid
#end
Apid=$apid
#if($productType)
ProductType=$productType
#else
ProductType=Unknown
#end
GroundStatus=$groundStatus
DataFileName=$fullPath
SequenceId=$seqId
SequenceVersion=$seqVersion
CommandNumber=$commandNumber
DvtCoarse=$dvtCoarse
DvtFine=$dvtFine
Sclk=$sclk
Scet=$scet
#if($lst)
Lst=$lst
#end
#if($rct)
RCT=$rct
#end
LastPartErt=$ert
TotalParts=$totalParts
ProductChecksum=$checksum
ProductFileSize=$fileSize
CfdpTransactionId=$transactionId 
#end
