#set ( $shellName = "sh" )
#shell( $shellName )

#init()

#Java()

#set( $tpsLibraries   =   ["piccolo", "disruptor", "commons_io", "commons_cli","commons_lang","commons_lang3","commons_collections","commons_logging","woodstox","mysql","velocity_engine_core", "commons_configuration2","shared","javax.json", "protobuf_java","protobuf_java_format","protobuf_java_util"] )
#constructClasspath( $tpsLibraries )
#addSpringClasspath()
#constructLog4j2Classpath()

#set ( $appName = "chill_get_chanvals" )
#set ( $appClass = "jpl.gds.db.app.ChannelAggregateFetchApp" )
#set ( $appArgs = "" )
#set ( $headless = "true" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "1024m" )
#set ( $maxMem = "4096m" )
#set ( $responderHelper = "" )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJava ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
