"Evr","$sessionId","$sessionHost",#if($name)"$name"#else""#end,#if($module)"$module"#else""#end,#if($level)"$level"#else""#end,#if($event)"$event"#else""#end,#if($vcid)"$vcid"#else""#end,#if($dssId)"$dssId"#else""#end,"$fromSse",#if($nullTool.isNotNull($realTime))"$realTime"#else""#end,#if($sclk)"$sclk"#else""#end,#if($scet)"$scet"#else""#end,#if($lst)"$lst"#else""#end,#if($ert)"$ert"#else""#end,#if($rct)"$rct"#else""#end,#if($message)"$message"#else""#end,#if($mdKeysList)"$mdKeysList"#else""#end,#if($mdValsList)"$mdValsList"#else""#end