#if ($body)
-------
Packet
-------
SessionId=$sessionId
SessionHost=$sessionHost
#if ($rct)
RCT=$rct
#end
#if ($scet)
SCET=$scet
#end
#if ($lst)
LST=$lst
#end
#if ($ert)
ERT=$ert
#end
#if ($sclk)
SCLK=$sclk
#end
#if ($vcid)
VCID=$vcid
#end
#if ($apid)
APID=$apid
#end
#if ($apidName)
APIDName=$apidName
#end
#if ($nullTool.isNotNull($fromSse))
FromSSE=$fromSse
#end
#if ($spsc)
SourcePacketSequenceCount=$spsc
#end
#if ($length)
Length=$length
#end
#if ($sourceVcfcs) 
SourceVCFCs=$sourceVcfcs
#end
#if ($fileByteOffset)
FileByteOffset=$fileByteOffset
#end
#if ($dssId >= 0)
DssId=$dssId
#end
#end
