<SequenceDirectiveMessage eventTime="$eventTime">
	<SequenceDirective>
		<CommandString>$commandString</CommandString>
#if($scmfFile)	
		<ScmfFile>$scmfFile</ScmfFile>
#end		
	</SequenceDirective>
</SequenceDirectiveMessage>
