{{! 3/2/2016  - Adding handle bar templates that are }}
{{! used by swagger to create the global lad REST API html pages. }}
{{! These templates were copied from the swagger examples and have not been touched. }}
{{! 01/10/2018 - Moved all hbs templates to shared_lib }}

<!DOCTYPE html>
<html>
<title>API Document</title>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>