#set ( $shellName = "sh" )
#shell( $shellName )

if [ -z "$ACTIVEMQ_HOME" ] ; then
   ACTIVEMQ_HOME=/msop/mpcs/activemq-5.16.1
fi

jmshostname="localhost"

if [ $# -gt 0 ] ; then
   if [ $1 = '-h' -o $1 = "--help" ]; then
      echo stop_activemq [hostname]
      exit 1
   fi
fi
if [ $# -gt 0 ] ; then
   jmshostname="$1"
fi

tempfoo=`basename $0.XXXXXXXXXX`
TMPFILE=`mktemp -t ${tempfoo}` || exit 1
chmod 777 $TMPFILE

echo $ACTIVEMQ_HOME/bin/activemq-admin stop --jmxurl service:jmx:rmi:///jndi/rmi://$jmshostname:1098/jmxrmi MPCS_Message_Broker...
$ACTIVEMQ_HOME/bin/activemq-admin stop --jmxurl service:jmx:rmi:///jndi/rmi://$jmshostname:1098/jmxrmi MPCS_Message_Broker > $TMPFILE 2>&1

grep --silent "Stopping broker: MPCS_Message_Broker" $TMPFILE
if [ $? = 0 ]; then
   cat $TMPFILE
   exit 0
else
   echo "There was an error stopping the Message Broker. See $TMPFILE for details."
   exit 1
fi


