CCSD3ZS00001QUERYSPCNJPL3IS0L009TDSQUERY
OBJECT = 'TDS_QueryServer_to_MPCS';
DESCRIPTION = 'MPCS Query';
REQUESTER_NAME = 'MPCS';
MISSION_NAME = $missionName;
SPACECRAFT_NAME = MSL;
DATA_FROM = { RT } ;
#Lines that begin with a '#' are treated as comments and will not be parsed
#TIME_RANGE = { 2008/156-09:55:00 .. 2008/158-14:21:00 } ERT;
TIME_RANGE = { NOW .. FOREVER } ERT;
TIME_ORDER = ERT;
GROUP = FRAME ;
   DATA_TYPE = "tf" ;
   DSS_ID = ALL ;
   TELEMETRY_MODE = MERGED ;
END_GROUP = FRAME ;
END_OBJECT = 'TDS_QueryServer_to_MPCS';
CCSD3RE00000TDSQUERYCCSD3RE00000QUERYSPC
