<ChangePerspectiveSessionMessage eventTime="$eventTime">
  $sessionConfiguration
#if ($applicationId) 
  <guiApplicationId>$applicationId</guiApplicationId>
#end     
</ChangePerspectiveSessionMessage>
