#set ( $shellName = "sh" )
#shell( $shellName )

#init()

#Java()
 
#set ( $headless = "true" )
#SWT( $headless )

#set( $tpsLibraries = ["commons_lang", "commons_lang3","commons_collections","commons_logging","commons_codec"] )
#constructClasspath( $tpsLibraries )


#set ( $appName = "chill_encrypt_password" )
#set ( $appClass = "jpl.gds.shared.string.StringEncrypter" )
#set ( $appArgs = "" )
#set ( $headless = "false" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "128m" )
#set ( $maxMem = "512m" )
#set ( $responderHelper = "" )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJava ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
