EventTime=$eventTime
TransactionLog=$transLog
ReasonForPartial=$reason
Apid=$apid
ProductName=$productType
Vcid=$vcid
Scid=$scid
GroundStatus=$groundStatus
GroundCreationTime=$creationTime
DataFileName=$fullPath
SequenceId=$seqId
SequenceVersion=$seqVersion
CommandNumber=$commandNumber
DvtCoarse=$dvtCoarse
DvtFine=$dvtFine
Sclk=$sclk
Scet=$scet
#if($lst)
Lst=$lst
#end
LastPartErt=$lastPartErt
TotalParts=$totalParts
ProductChecksum=$checksum
ProductFileSize=$fileSize
CfdpTransactionId=$transactionId
