"FSW COMMAND",#if($iCmdRequestId)"$iCmdRequestId"#else""#end,#if($iCmdRequestStatus)"$iCmdRequestStatus"#else""#end,#if($iCmdRequestFailureReason)"$iCmdRequestFailureReason"#else""#end,#if($commandString)"$commandString"#else""#end,#if($scmfFile)"$scmfFile"#else""#end,#if($eventTime)"$eventTime"#else""#end
