#set ( $shellName = "sh" )
#shell( $shellName )

#init()
#Java()

#set( $tpsLibraries = ["jersey2", "jaxrs", "gson", "commons_cli", "velocity_engine_core", "commons_collections", "commons_lang", "commons_lang3", "shared", "piccolo"])
#constructClasspath( $tpsLibraries )
#addSwagger2Classpath()
#addSwagger2ClientClasspath()
#addSpringClasspath()
#constructLog4j2Classpath()
#addCssClasspath()

#set ( $appName = "chill_telem_ingest_mc" )
#set ( $appClass = "jpl.gds.telem.ingest.app.mc.TelemIngestMC" )
#set ( $appArgs = "" )
#set ( $doExec = "true" )
#set ( $doLog = "false" )
#set ( $minMem = "128m" )
#set ( $maxMem = "512m" )
#set ( $responderHelper = "" )
#set ( $sysProperties = "" )
#set ( $includePassThruArgs = "true" )
#execJavaSimple ( $appName $appClass $appArgs $headless $doExec $doLog $minMem $maxMem $responderHelper $sysProperties $includePassThruArgs )
